<form [formGroup]="formLogin">
    <div class="">
      <label for="uname"><b>Código</b></label>
      <input type="text" placeholder="seu código" formControlName="code" name="code" required>
  
      <label for="password"><b>Senha</b></label>
      <input type="password" placeholder="sua senha"  formControlName="password" name="password" required>
  
      <button type="submit" (click)="submitLogin()">Entrar</button>
      <label>
        <input type="checkbox" checked="checked"  name="remember"> Remember me
      </label>
    </div>
  
  </form>