<div class="content">

    <!--msg erro and loading spinner-->
    <div class="col-12 col-lg-6">
        <div *ngIf="searchBusy" class="spinner-grow" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>

        <div *ngFor="let msgSuccess of msgSuccesss">
            <div class="row g-2">
                <div class="alert alert-outline-success d-flex align-items-center" role="alert">
                    <span class="fas fa-check-circle text-success fs-3 me-3"></span>
                    <p class="mb-0 flex-1">{{msgSuccess}}</p>

                    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>

        <div *ngFor="let msgError of msgErros">
            <div class="alert alert-outline-danger d-flex align-items-center" role="alert">
                <span class="fas fa-times-circle text-danger fs-3 me-3"></span>
                <p class="mb-0 flex-1">{{msgError}}</p>

                <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>

    <form class="mb-3" [formGroup]="formSearch">
        <div class="row g-5">
            <div class="col-12 col-lg-6">
                <div class="row g-2">
                    <div class="col-12 col-lg-6">
                        <h4 class="mb-3">Busca por código</h4>
                        <input class="form-control mb-5" formControlName="codeSearch" type="text"
                            placeholder="código da oferta" />
                    </div>
                    <div class="col-12 col-lg-6">
                        <h4 class="mb-3"><a href="#" (click)="dashBoard()"><span class="fas fa-undo-alt"></span></a>
                        </h4>
                        <button class="btn btn-primary mb-2 mb-sm-0" (click)="search()" type="submit">Buscar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form class="" [formGroup]="formRegister">
        <div class="row g-3 flex-between-end mb-5">
            <div class="col-auto">
                <h2 class="mb-2">Registro de Secretários</h2>
                <h5 class="text-700 fw-semi-bold">Portanto, quer comais quer bebais, ou façais, qualquer outra coisa,
                    fazei tudo para glória de Deus.(1Cor 10:31)</h5>
            </div>
            <div class="col-auto">
                <button class="btn btn-phoenix-secondary btn-lg me-1 mb-1" (click)="clear()"
                    type="button">Limpar/Cancelar</button>
                <button class="btn btn-primary btn-lg me-1 mb-1" (click)="save()" type="submit"><span
                        class="far fa-save fs-1"></span>Salvar</button>
            </div>
        </div>
        <div class="col-12 col-xl-12">
            <div class="row">
                <div class="col-3">
                    <h4 class="mb-3">Nome</h4>
                    <input class="form-control mb-5" type="text" formControlName="name" placeholder="nome do secretario" />
                </div>
                <div class="col-3">
                    <h4 class="mb-3">Igreja</h4>
                    <select class="form-control" formControlName="churchId">
                        <option value="0"></option>
                        <option *ngFor="let entry of churchToSelect" [value]="entry[1]">
                            {{ entry[0] }}
                        </option>
                    </select>
                </div>
                <div class="col-3">
                    <h4 class="mb-3">Secretaria</h4>
                    <select class="form-control" name="RoleIds" formControlName="roleIds">
                        <option value="0"></option>
                        <option value="1">L-SCT - Secretario local</option>
                        <option value="3">M-SCT- Secretario ministerial</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <h4 class="mb-3">Senha</h4>
                    <input class="form-control mb-5" readonly="true" type="password" formControlName="password" />
                </div>
                <!-- <div class="col-3">
                    <h4 class="mb-3">Confirmação de Senha</h4>
                    <input class="form-control mb-5" type="text" formControlName="passwordConfirm" />
                </div> -->
                <div class="col-3">
                    <h4 class="mb-3">Gerar senha</h4>
                    <button class="btn btn-secondary" (click)="generatePassword()">Gerar</button>
                </div>
            </div>
        </div>
    </form>
</div>
