<div class="content">

    <form class="mb-3" [formGroup]="formSearch">
        <div class="row g-5">
            <div class="col-12 col-lg-6">
                <div class="row g-2">
                    <div class="col-12 col-lg-6">
                        <h4 class="mb-3">Busca por código</h4>
                        <input class="form-control mb-5" formControlName="code" type="text"
                            placeholder="código da oferta" />
                    </div>
                    <div class="col-12 col-lg-6">
                        <h4 class="mb-3"><a href="#" (click)="dashBoard()"><span class="fas fa-undo-alt "></span></a>
                        </h4>
                        <button class="btn btn-primary mb-2 mb-sm-0" type="submit"
                            (click)="searchByCode()">Buscar</button>
                    </div>
                </div>
            </div>

            <!--msg erro and loading spinner-->
            <div class="col-12 col-lg-6">

                <div *ngIf="searchBusy" class="spinner-grow" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>

                <div *ngFor="let msgSuccess of msgSuccesss">
                    <div class="row g-2">
                        <div class="alert alert-outline-success d-flex align-items-center" role="alert">
                            <span class="fas fa-check-circle text-success fs-3 me-3"></span>
                            <p class="mb-0 flex-1">{{msgSuccess}}</p>

                            <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                </div>

                <div *ngFor="let msgError of msgErros">
                    <div class="alert alert-outline-danger d-flex align-items-center" role="alert">
                        <span class="fas fa-times-circle text-danger fs-3 me-3"></span>
                        <p class="mb-0 flex-1">{{msgError}}</p>

                        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>

            </div>
        </div>
    </form>

    <form class="mb-3" [formGroup]="formPrincipal">
        <div class="row g-5 flex-between-end mb-5">

            <div class="col-auto">
                <h2 class="mb-2">Inserir tipo de culto</h2>
            </div>

            <div class="col-auto">
                <button class="btn btn-phoenix-secondary btn-lg me-1 mb-1" (click)="clearForm()"
                    type="button">Limpar/Cancelar</button>
                    
                <button [disabled]="typeSave != 'createe'" class="btn btn-primary btn-lg me-1 mb-1" (click)="save()"
                    type="submit"><span class="far fa-save fs-1"></span>Salvar</button>
            </div>

        </div>

        <div class="row g-5 mt-10">
            <div class="row g-2">
                <div class="col-12 col-xl-8">

                    <div class="row g-5">
                        <div class="mb-6 col-4">
                            <h4 class="mb-3">Nome</h4>
                            <input formControlName="name" type="text" name="name" id="" class="form-control">
                        </div>
                    
                        <div class="mb-6 col-4">
                            <h4 class="mb-3">Descrição</h4>
                            <input formControlName="description" type="text" name="description" id="" class="form-control">
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </form>
    

</div>