<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->


<div class="content">
    <form class="mb-9">
        <div class="row g-3 flex-between-end mb-5">
            <div class="col-auto">
                <h2 class="mb-2">Inserir nova oferta</h2>
            </div>
            <div class="col-auto">
                <button class="btn btn-phoenix-secondary btn-lg me-1 mb-1" type="button">Limpar campos</button>
                <button class="btn btn-phoenix-primary btn-lg me-1 mb-1" type="button">Voltar</button>
                <button class="btn btn-primary btn-lg me-1 mb-1" type="submit">Salvar</button>
            </div>
        </div>

        <div class="row g-5">

            <div class="row g-2">
                <div class="col-12 col-lg-3">
                    <h4 class="mb-3">Busca por código</h4>
                    <input class="form-control mb-5" type="text" placeholder="código da oferta" />
                </div>
                <div class="col-12 col-lg-3">
                    <h4 class="mb-3">.</h4>
                    <button class="btn btn-primary mb-2 mb-sm-0" type="submit">Buscar</button>
                </div>
            </div>

            <div class="row g-2">

                <div class="col-12 col-xl-8">

                    <div class="row g-5">
                        <div class="col-12 col-lg-6">
                            <h4 class="mb-3">Ministrante</h4>
                            <input class="form-control mb-5" type="text" placeholder="Nome do ministrante da oferta" />
                        </div>

                        <div class="col-12 col-lg-6">
                            <h4 class="mb-3">Dia</h4>
                            <input class="form-control datetimepicker flatpickr-input" id="datepicker" type="text"
                                placeholder="dd/mm/yyyy"
                                data-options="{&quot;disableMobile&quot;:true,&quot;dateFormat&quot;:&quot;d/m/Y&quot;}"
                                readonly="readonly">
                        </div>
                    </div>

                    <div class="mb-6">
                        <h4 class="mb-3">Descrição</h4>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>

                    <div class="row g-5">
                        <div class="col-12 col-lg-4">
                            <h4 class="mb-3">Numero de adultos</h4>
                            <input class="form-control mb-5" type="number" placeholder="total de adultos" value="15" />
                        </div>

                        <div class="col-12 col-lg-4">
                            <h4 class="mb-3">Numero de crianças</h4>
                            <input class="form-control mb-5" type="number" placeholder="total de crianças" value="5" />
                        </div>

                        <div class="col-12 col-lg-4">
                            <h4 class="mb-3">Total no culto</h4>
                            <input class="form-control mb-5" type="number" value="20" readonly="readonly" />
                        </div>
                    </div>

                    <div class="row g-5">
                        <div class="col-12 col-lg-4">
                            <h4 class="mb-3">Total de oferta R$</h4>
                            <input class="form-control mb-5" type="number" step="0.1" placeholder="0.00" />
                        </div>
                    </div>

                    <div class="row g-5">
                        <div class="col-12 col-lg-12">
                            <h4 class="mb-3">Resumo</h4>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" readonly="readonly"></textarea>
                        </div>
                    </div>

                </div>

                <div class="col-12 col-xl-4">
                    <div class="row g-2">
                        <div class="col-12 col-xl-12">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Organização</h4>

                                    <div class="row g-3">

                                        <div class="col-12 col-sm-6 col-xl-12">

                                            <div class="mb-4">
                                                <div class="d-flex flex-wrap mb-2">
                                                    <h5 class="mb-0 text-1000 me-2">Tipo de oferta</h5>
                                                    <a class="fw-bold fs--1" href="#!">Add novo tipo de oferta</a>
                                                </div>
                                                
                                                <select *ngIf="!busy" class="form-select mb-3" aria-label="category">

                                                    <option *ngFor="let entry of offeringKindToSelect" [value]="entry[1]" id="idDashMonth">
                                                        {{ entry[0] }}
                                                    </option>

                                                </select>

                                                <div *ngIf="busy" class="spinner-grow spinner-grow-sm" role="status">
                                                    <span class="sr-only"></span>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-12 col-sm-6 col-xl-12">
                                            <div class="mb-4">
                                                <div class="d-flex flex-wrap mb-2">
                                                    <h5 class="mb-0 text-1000 me-2">Tipo de culto</h5><a
                                                        class="fw-bold fs--1" href="#!">Add novo tipo de culto</a>
                                                </div>

                                                <select *ngIf="!busy" class="form-select mb-3" aria-label="category">

                                                    <option *ngFor="let entry of meetingKindToSelect" [value]="entry[1]" id="idDashMonth">
                                                        {{ entry[0] }}
                                                    </option>

                                                </select>

                                                <div *ngIf="busy" class="spinner-grow spinner-grow-sm" role="status">
                                                    <span class="sr-only"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 col-sm-6 col-xl-12">
                                            <div class="mb-xl-4">
                                                <h5 class="mb-2 text-1000">Igreja</h5>
                                                <input class="form-control mb-xl-3" type="text" placeholder="Collection" readonly="readonly" value="são lourenço" />
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </form>

    <footer class="footer position-absolute">
        <div class="row g-0 justify-content-between align-items-center h-100">
            <div class="col-12 col-sm-auto text-center">
                <p class="mb-0 mt-2 mt-sm-0 text-900">Thank you for creating with Phoenix<span
                        class="d-none d-sm-inline-block"></span><span class="d-none d-sm-inline-block mx-1">|</span><br
                        class="d-sm-none" />2023 &copy;<a class="mx-1" href="https://themewagon.com">Themewagon</a></p>
            </div>
            <div class="col-12 col-sm-auto text-center">
                <p class="mb-0 text-600">v1.12.0</p>
            </div>
        </div>
    </footer>
</div>


<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->