<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->


<div class="content">

    <form class="mb-9" [formGroup]="formTreasury" (change)="showResume()">

        <div class="row g-3 flex-between-end mb-5">

            <div class="col-auto">
                <h2 class="mb-2">Inserir nova oferta</h2>
            </div>

            <div class="col-auto">
                <button class="btn btn-phoenix-secondary btn-lg me-1 mb-1" (click)="clearForm()" type="button">Cancelar</button>
                <button class="btn btn-primary btn-lg me-1 mb-1" [disabled]="formTreasury.invalid" (click)="saveOffering()" type="submit">Salvar</button>
            </div>

        </div>

        <div class="row g-5">

            <div class="row g-2">
                <div class="col-12 col-lg-3">
                    <h4 class="mb-3">Busca por código</h4>
                    <input class="form-control mb-5" formControlName="code" type="text" placeholder="código da oferta" />
                </div>
                <div class="col-12 col-lg-3">
                    <h4 class="mb-3">.</h4>
                    <button class="btn btn-primary mb-2 mb-sm-0" type="submit" (click)="searchOfferingByCode()">Buscar</button>
                </div>
            </div>

            <div class="row g-2">

                <div class="col-12 col-xl-8">

                    <div class="row g-5">
                        <div class="col-12 col-lg-6">
                            <h4 class="mb-3">Ministrante</h4>
                            <input class="form-control mb-5" type="text" formControlName="preacherMemberName" placeholder="Nome do ministrante da oferta" 
                            [ngClass]="{'text-danger': (!formTreasury.controls['preacherMemberName'].valid && !formTreasury.controls['preacherMemberName'].pristine)}"
                            />
                        </div>

                        <div class="col-12 col-lg-6">
                            <h4 class="mb-3">Dia</h4>
                            <input class="form-control datetimepicker flatpickr-input" id="datepicker" type="text"
                                placeholder="dd/mm/yyyy" formControlName="day"
                                data-options="{&quot;disableMobile&quot;:true,&quot;dateFormat&quot;:&quot;d/m/Y&quot;}"
                                readonly="readonly">
                        </div>
                    </div>

                    <div class="mb-6">
                        <h4 class="mb-3">Descrição</h4>
                        <textarea class="form-control" formControlName="description" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>

                    <div class="row g-5">
                        <div class="col-12 col-lg-4">
                            <h4 class="mb-3">Numero de adultos</h4>
                            <input class="form-control mb-5" type="number" formControlName="adultQuantity" placeholder="total de adultos" (change)="sumPeoples()" />
                        </div>

                        <div class="col-12 col-lg-4">
                            <h4 class="mb-3">Numero de crianças</h4>
                            <input class="form-control mb-5" type="number" formControlName="childrenQuantity" placeholder="total de crianças" (change)="sumPeoples()" />
                        </div>

                        <div class="col-12 col-lg-4">
                            <h4 class="mb-3">Total no culto</h4>
                            <input class="form-control mb-5" type="number" value="20" formControlName="totalPeoples" readonly="readonly" />
                        </div>
                    </div>

                    <div class="row g-5">
                        <div class="col-12 col-lg-4">
                            <h4 class="mb-3">Total de oferta R$</h4>
                            <input class="form-control mb-5" type="number" formControlName="totalAmount" step="0.1" placeholder="0.00" />
                        </div>
                    </div>

                    <div class="row g-5">
                        <div class="col-12 col-lg-12">
                            <h4 class="mb-3">Resumo</h4>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="resume" readonly="readonly"></textarea>
                        </div>
                    </div>

                </div>

                <div class="col-12 col-xl-4">
                    <div class="row g-2">
                        <div class="col-12 col-xl-12">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Organização</h4>

                                    <div class="row g-3">

                                        <div class="col-12 col-sm-6 col-xl-12">

                                            <div class="mb-4">
                                                <div class="d-flex flex-wrap mb-2">
                                                    <h5 class="mb-0 text-1000 me-2">Tipo de oferta</h5>
                                                    <a class="fw-bold fs--1" href="#!">Add novo tipo de oferta</a>
                                                </div>

                                                <select *ngIf="!busy" class="form-select mb-3" aria-label="category" formControlName="offeringKindId">

                                                    <option *ngFor="let entry of offeringKindToSelect"
                                                        [value]="entry[1]" id="idDashMonth">
                                                        {{ entry[0] }}
                                                    </option>

                                                </select>

                                                <div *ngIf="busy" class="spinner-grow spinner-grow-sm" role="status">
                                                    <span class="sr-only"></span>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-12 col-sm-6 col-xl-12">
                                            <div class="mb-4">
                                                <div class="d-flex flex-wrap mb-2">
                                                    <h5 class="mb-0 text-1000 me-2">Tipo de culto</h5><a
                                                        class="fw-bold fs--1" href="#!">Add novo tipo de culto</a>
                                                </div>

                                                <select *ngIf="!busy" class="form-select mb-3" aria-label="category" formControlName="meetingKindId">

                                                    <option *ngFor="let entry of meetingKindToSelect" [value]="entry[1]"
                                                        id="idDashMonth">
                                                        {{ entry[0] }}
                                                    </option>

                                                </select>

                                                <div *ngIf="busy" class="spinner-grow spinner-grow-sm" role="status">
                                                    <span class="sr-only"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 col-sm-6 col-xl-12">
                                            <div class="mb-xl-4">
                                                <h5 class="mb-2 text-1000">Igreja</h5>
                                                <input class="form-control mb-xl-3" type="text" placeholder="Collection"
                                                    readonly="readonly" value={{modelToken.churchName}} />
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="card mb-3">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Importar excel</h4>
                                    <div class="row g-3">
                                        <div class="col-12 col-sm-6 col-xl-12">
                                            <div class="mb-xl-4">
                                                <h5 class="mb-2 text-1000">selecione ou arraste
                                                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                        <span
                                                            class="badge ms-2 badge badge-phoenix badge-phoenix-info ">atente-se
                                                            ao layout</span>
                                                    </a>
                                                </h5>
                                                <input class="form-control mb-xl-3" type="file" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--model input-->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">O arquivo deve seguir o layout abaixo para importado corretamente</h5>
                                            <button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close">
                                                <span class="fas fa-times fs--1"></span>
                                            </button>
                                        </div>
                                        <div class="modal-body">

                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">ministrante</th>
                                                        <th scope="col">dia</th>
                                                        <th scope="col">descricao</th>
                                                        <th scope="col">numadultos</th>
                                                        <th scope="col">numcriancas</th>
                                                        <th scope="col">totaloferta</th>
                                                        <th scope="col">tipooferta</th>
                                                        <th scope="col">tipoculto</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Dcº Maria das Graças</td>
                                                        <td>08/07/2023</td>
                                                        <td>Oferta com ministração da irmã Maria. Culto de louvor e adoração</td>
                                                        <td>25</td>
                                                        <td>15</td>
                                                        <td>1777.77</td>
                                                        <td>PIX</td>
                                                        <td>Culto de Libertação</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Dcº Maria das Graças</td>
                                                        <td>08/12/2023</td>
                                                        <td>Oferta com ministração da irmã Maria. Culto de louvor e adoração</td>
                                                        <td>25</td>
                                                        <td>15</td>
                                                        <td>777.77</td>
                                                        <td>PIX</td>
                                                        <td>Culto de Libertação</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-primary" type="button">Okay</button>
                                            <button class="btn btn-outline-primary" type="button"
                                                data-bs-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </form>


</div>


<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->