<div class="content">

    <!--msg erro and loading spinner-->
    <div class="col-12 col-lg-6">

        <div *ngIf="searchBusy" class="spinner-grow" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>

        <div *ngFor="let msgSuccess of msgSuccesss">
            <div class="row g-2">
                <div class="alert alert-outline-success d-flex align-items-center" role="alert">
                    <span class="fas fa-check-circle text-success fs-3 me-3"></span>
                    <p class="mb-0 flex-1">{{msgSuccess}}</p>

                    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>

        <div *ngFor="let msgError of msgErros">
            <div class="alert alert-outline-danger d-flex align-items-center" role="alert">
                <span class="fas fa-times-circle text-danger fs-3 me-3"></span>
                <p class="mb-0 flex-1">{{msgError}}</p>

                <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>

    </div>

    <form class="mb-3" [formGroup]="formSearch">
        <div class="row g-5">
            <div class="col-12 col-lg-6">
                <div class="row g-2">
                    <div class="col-12 col-lg-6">
                        <h4 class="mb-3">Busca por código</h4>
                        <input class="form-control mb-5" formControlName="code" type="text"
                            placeholder="código do membro" />
                    </div>
                    <div class="col-12 col-lg-6">
                        <h4 class="mb-3"><a href="#" (click)="dashBoard()"><span class="fas fa-undo-alt "></span></a>
                        </h4>
                        <button class="btn btn-primary mb-2 mb-sm-0" type="submit"
                            (click)="searchByCode()">Buscar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <form class="" [formGroup]="formMember">

        <div class="row g-3 flex-between-end mb-5">
            <div class="col-auto">
                <h2 class="mb-2">Registro de membro
                    <span *ngIf="typeSave == 'update' && memberIsValid == true"
                        class="text-success uil-user-check fs-6"></span>
                    <span *ngIf="typeSave == 'update' && memberIsValid == false"
                        class="text-danger uil-user-exclamation fs-6"></span>
                </h2>
                <h5 class="text-700 fw-semi-bold">versiculo da biblia.. (lv1:1)</h5>
            </div>
            <div class="col-auto">
                <button class="btn btn-phoenix-secondary btn-lg me-1 mb-1" (click)="clear()"
                    type="button">Limpar/Cancelar</button>
                <button class="btn btn-primary btn-lg me-1 mb-1" (click)="save()" type="submit"><span
                        class="far fa-save fs-1"></span>Salvar</button>
            </div>
        </div>

        <div class="row col-xl-12">

            <div class="row col-xl-9">

                <div class="row">

                    <div class="col-12 col-xl-12">

                        <div class="row">
                            <div class="col-8">
                                <h4 class="mb-3">Nome completo</h4>
                                <input class="form-control mb-5" type="text" formControlName="name"
                                    placeholder="nome completo do membro" />
                            </div>

                            <div class="col-4">
                                <h4 class="mb-3">Data nascimento</h4>
                                <input class="form-control" type="date" placeholder="dd/mm/yyyy"
                                    formControlName="dateBirth">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="mb-6">
                                    <h4 class="mb-3">Considerações</h4>
                                    <textarea class="form-control" name="content"
                                        formControlName="description"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <h4 class="mb-3">data batismo</h4>
                                <input class="form-control" type="date" formControlName="dateBaptism"
                                    placeholder="dd/mm/yyyy">
                            </div>

                            <div class="col-6">
                                <h4 class="mb-3">data cadastro</h4>
                                <input class="form-control" type="date" formControlName="dateRegister"
                                    placeholder="dd/mm/yyyy">
                            </div>
                        </div>

                    </div>

                    <div class="row g-5 mb-6">
                        <div class="col-12 col-xl-12">

                            <div class="row g-0 border-top border-bottom border-300">

                                <div class="col-sm-4">
                                    <div class="nav flex-sm-column border-bottom border-bottom-sm-0 border-end-sm border-300 fs--1 vertical-tab h-100 justify-content-between"
                                        role="tablist" aria-orientation="vertical">
                                        <a class="nav-link text-center text-sm-start cursor-pointer outline-none d-sm-flex align-items-sm-center"
                                            id="advancedTab" data-bs-toggle="tab" data-bs-target="#advancedTabContent"
                                            role="tab" aria-controls="advancedTabContent" aria-selected="false">
                                            <span class="me-sm-2 fs-4 nav-icons" data-feather="lock"></span>
                                            <span class="d-none d-sm-inline">Cargos</span>
                                        </a>

                                        <a class="nav-link border-end border-end-sm-0 border-bottom-sm border-300 text-center text-sm-start cursor-pointer outline-none d-sm-flex align-items-sm-center"
                                            id="attributesTab" data-bs-toggle="tab"
                                            data-bs-target="#attributesTabContent" role="tab"
                                            aria-controls="attributesTabContent" aria-selected="false">
                                            <span class="me-sm-2 fs-4 nav-icons" data-feather="sliders"></span>
                                            <span class="d-none d-sm-inline">Close</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-sm-8">
                                    <div class="tab-content py-3 ps-sm-4 h-100">
                                        <div class="tab-pane fade" id="advancedTabContent" role="tabpanel"
                                            aria-labelledby="advancedTab">
                                            <div class="row g-3">
                                                <div class="col-12 col-lg-6" *ngFor="let post of postToSelect ">
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" id="inlineCheckbox1"
                                                            type="checkbox" value={{post[1]}}
                                                            (click)="setPostId(post[1])"
                                                            [checked]="PostIdSelected.includes(tryParseInt(post[1]))" />

                                                        <label class="form-check-label"
                                                            for="inlineCheckbox1">{{post[0]}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row g-5 mb-6">
                        <div class="col-12 col-xl-12">
                            <div class="row g-0 border-top border-bottom border-300">
                                <div class="col-sm-4">
                                    <div class="nav flex-sm-column border-bottom border-bottom-sm-0 border-end-sm border-300 fs--1 vertical-tab h-100 justify-content-between"
                                        role="tablist" aria-orientation="vertical">
                                        <a class="nav-link border-end border-end-sm-0 border-bottom-sm border-300 text-center text-sm-start cursor-pointer outline-none d-sm-flex align-items-sm-center active"
                                            id="pricingTab" data-bs-toggle="tab" data-bs-target="#pricingTabContent"
                                            role="tab" aria-controls="pricingTabContent" aria-selected="true"> <span
                                                class="me-sm-2 fs-4 nav-icons" data-feather="tag"></span><span
                                                class="d-none d-sm-inline">Recebimento</span></a>

                                        <a class="nav-link border-end border-end-sm-0 border-bottom-sm border-300 text-center text-sm-start cursor-pointer outline-none d-sm-flex align-items-sm-center"
                                            id="restockTab" data-bs-toggle="tab" data-bs-target="#restockTabContent"
                                            role="tab" aria-controls="restockTabContent" aria-selected="false"> <span
                                                class="me-sm-2 fs-4 nav-icons" data-feather="package"></span><span
                                                class="d-none d-sm-inline">Desligamento</span></a>
                                    </div>
                                </div>

                                <div class="col-sm-8">

                                    <div class="tab-content py-3 ps-sm-4 h-100">

                                        <form class="mb-3" [formGroup]="formMemberIn">
                                            <div class="tab-pane fade show active" id="pricingTabContent"
                                                role="tabpanel">
                                                <h4 class="mb-3 d-sm-none">Igreja</h4>
                                                <div class="row g-3">
                                                    <div class="col-12 col-lg-4">
                                                        <h5 class="mb-2 text-1000">Igreja</h5>
                                                        <input class="form-control" type="text"
                                                            formControlName="churchName"
                                                            placeholder="igreja que o membro veio" />
                                                    </div>

                                                    <div class="col-12 col-lg-4">
                                                        <h5 class="mb-2 text-1000">Cargo</h5>
                                                        <input class="form-control" type="text"
                                                            formControlName="lastPost" placeholder="cargo ocupado" />
                                                    </div>

                                                    <div class="col-12 col-lg-3">
                                                        <h5 class="mb-2 text-1000">Saida</h5>
                                                        <select class="form-control" formControlName="letterReceiver">
                                                            <option value="0"></option>
                                                            <option value="1">com carta</option>
                                                            <option value="2">sem carta</option>
                                                        </select>
                                                    </div>

                                                </div>
                                            </div>
                                        </form>


                                        <form class="mb-3" [formGroup]="formMemberOut">
                                            <div class="tab-pane fade h-100" id="restockTabContent" role="tabpanel"
                                                aria-labelledby="restockTab">
                                                <div class="row g-3">
                                                    <div class="col-12 col-lg-4">
                                                        <h5 class="mb-2 text-1000">Motivo</h5>
                                                        <select class="form-control" formControlName="reason">
                                                            <option value="0"></option>
                                                            <option value="1">abandono</option>
                                                            <option value="2">solicitação</option>
                                                            <option value="3">falecimento</option>
                                                        </select>
                                                    </div>

                                                    <div class="col-12 col-lg-4">
                                                        <h5 class="mb-2 text-1000">Dia</h5>
                                                        <input class="form-control" type="date" formControlName="day" />
                                                    </div>

                                                </div>
                                            </div>
                                        </form>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row col-xl-3">

                <div class="row">
                    <div class="col-12">
                        <div class="mb-6">
                            <div class="col-12">
                                <h4 class="mb-3">Imagem</h4>

                                <div *ngIf="!filebusy">
                                    <input class="form-control mb-xl-3" formControlName="photo" (change)="loadImage($event)"
                                    type="file" accept=".jpg, .jpeg, .png" />
                                </div>

                                <div *ngIf="filebusy">
                                    <app-loading-file></app-loading-file>
                                </div>
                                
                            </div>
                            <img src={{memberPhotoUrl}}
                                class="rounded float-right" width="420" height="420" alt="...">
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </form>

</div>