<div class="content">

  <div class="mb-9" *ngIf="busy">
    <app-loading-page></app-loading-page>
  </div>

  <div class="mb-9" *ngIf="!busy">

    <div class="col-auto">
      <h3>Despesas <a href="#" (click)="dashBoard()"><span class="fas fa-undo-alt fs-3"></span></a> </h3>
    </div>

    <div *ngFor="let msgSuccess of msgSuccesss">
      <div class="alert alert-outline-success d-flex align-items-center" role="alert">
        <span class="fas fa-check-circle text-success fs-3 me-3"></span>
        <p class="mb-0 flex-1">{{msgSuccess}}</p>
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>

    <div *ngFor="let msgError of msgErros">
      <div class="alert alert-outline-danger d-flex align-items-center" role="alert">
        <span class="fas fa-times-circle text-danger fs-3 me-3"></span>
        <p class="mb-0 flex-1">{{msgError}}</p>
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>

    <!--form limit-->
    <div class="row g-5 mb-4">

      <span class="text-700 fw-semi-bold">Total 50</span>

      <div class="col-12 col-lg-6">
        <form class="position-relative" [formGroup]="formLimit" data-bs-toggle="search" data-bs-display="static">

          <div class="row">
            <div class="col-12 col-lg-3">
              <h4 class="">Data inicial</h4>
              <input class="form-control" type="date" formControlName="initialDate">
            </div>

            <div class="col-12 col-lg-3">
              <h4 class="">Data final</h4>
              <input class="form-control" type="date" formControlName="finalDate">
            </div>

            <div class="col-12 col-lg-2">
              <h4 class="">.</h4>
              <button class="btn btn-outline-info" type="button" (click)="dashBoard()">Buscar</button>
            </div>
          </div>
        </form>
      </div>

      <div class="col-12 col-lg-3">

      </div>

      <div class="col-12 col-lg-3">
        <button class="btn btn-outline-info me-1 mb-1"><span class="far fa-file-excel fs-1 me-2"></span>Exportar
          excel</button>
        <a [routerLink]="['/member-register']"> <button class="btn btn-primary me-1 mb-1" id="addBtn"><span
              class="fas fa-plus fs-1"></span>Criar novo</button> </a>
      </div>

    </div>

    <div class="table-responsive">
      <table class="table table-hover table-striped table-sm fs--1 mb-0" id="excel-table">
        <thead>
          <tr>
            <th style="width:50px;">Cód</th>
            <th scope="col" style="width:350px;" data-sort="product">Dia</th>
            <th scope="col" data-sort="time" style="width:100px;">Competência</th>
            <th scope="col" data-sort="price" style="width:150px;">Vr original</th>
            <th scope="col" data-sort="category" style="width:200px;">Vr juros</th>
            <th scope="col" data-sort="tags" style="width:100px;">Vr Desconto</th>
            <th scope="col" data-sort="tags" style="width:100px;">Vr Total</th>
            <th scope="col" data-sort="tags" style="width:100px;">Descrição</th>
            <th scope="col" data-sort="tags" style="width:100px;">Tipo de saida</th>
            <th scope="col" style="width:100px;">ação</th>
          </tr>
        </thead>
      </table>
    </div>

  </div>

</div>