<div class="content">

    <div class="mb-9" *ngIf="busy">
      <app-loading-page></app-loading-page>
    </div>
  
    <div class="mb-9" *ngIf="!busy">
  
      <div class="col-auto">
        <h3>Despesas <a href="#" (click)="dashBoard()"><span class="fas fa-undo-alt fs-3"></span></a> </h3>
        
      </div>
  
      <div *ngFor="let msgSuccess of msgSuccesss">
        <div class="alert alert-outline-success d-flex align-items-center" role="alert">
          <span class="fas fa-check-circle text-success fs-3 me-3"></span>
          <p class="mb-0 flex-1">{{msgSuccess}}</p>
          <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
  
      <div *ngFor="let msgError of msgErros">
        <div class="alert alert-outline-danger d-flex align-items-center" role="alert">
          <span class="fas fa-times-circle text-danger fs-3 me-3"></span>
          <p class="mb-0 flex-1">{{msgError}}</p>
          <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
  
      <div class="row g-5 mb-4">
  
        <span class="text-700 fw-semi-bold">Total</span>
  
        <div class="col-12 col-lg-6">
          <form class="position-relative" [formGroup]="formLimit" data-bs-toggle="search" data-bs-display="static">
  
            <div class="row">  
              <div class="col-12 col-lg-2">
                <h4 class="">.</h4>
                <button class="btn btn-outline-info" type="button" (click)="dashBoard()">Buscar</button>
              </div>
            </div>
          </form>
        </div>
    
        <div class="col-12 col-lg-3">
          <button class="btn btn-outline-info me-1 mb-1"><span class="far fa-file-excel fs-1 me-2"></span>Exportar
            excel</button>
          <a [routerLink]="['/secretary-register']"> <button class="btn btn-primary me-1 mb-1" id="addBtn"><span
                class="fas fa-plus fs-1"></span>Criar novo</button> </a>
        </div>
  
      </div>
  
      <div class="table-responsive">
        <table class="table table-hover table-striped table-sm fs--1 mb-0" id="excel-table">
          <thead>
            <tr>
              <th style="width:50px;">Cód</th>
              <th style="width:50px;">Nome</th>
              <th style="width:50px;">Igreja</th>
              <th style="width:50px;">Nivel</th>
              <th scope="col" style="width:100px;">ação</th>
            </tr>
          </thead>
  
          <tbody class="list" id="products-table-body">
            <tr *ngFor="let model of models$">
              <td>{{model.id}}</td>
              <td>{{model.name}}</td>
              <td>{{model.church}}</td>
              <td>{{model.userRoles}}</td>
              <td class="">
                <div class="font-sans-serif btn-reveal-trigger position-static">
                  <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs--2"
                    type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true"
                    aria-expanded="false" data-bs-reference="parent">
                    <svg class="svg-inline--fa fa-ellipsis fs--2" aria-hidden="true" focusable="false"
                      data-prefix="fas" data-icon="ellipsis" role="img" xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 448 512" data-fa-i2svg="">
                      <path fill="currentColor"
                        d="M120 256C120 286.9 94.93 312 64 312C33.07 312 8 286.9 8 256C8 225.1 33.07 200 64 200C94.93 200 120 225.1 120 256zM280 256C280 286.9 254.9 312 224 312C193.1 312 168 286.9 168 256C168 225.1 193.1 200 224 200C254.9 200 280 225.1 280 256zM328 256C328 225.1 353.1 200 384 200C414.9 200 440 225.1 440 256C440 286.9 414.9 312 384 312C353.1 312 328 286.9 328 256z">
                      </path>
                    </svg>
                  </button>
  
                  <div class="dropdown-menu dropdown-menu-end py-2">
                    <a class="dropdown-item" [routerLink]="['/secretary-register']" [queryParams]="{id:model.id}">Editar</a>
                    <div class="dropdown-divider">
                    </div>
                    <a class="dropdown-item text-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                      (click)="setIdToDelete(model.id, model.name)" href="#!">Excluir</a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
  
        </table>
      </div>
  
    </div>
  
    <div class="modal fade" id="staticBackdrop" tabindex="-1" data-bs-backdrop="static" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-danger">
            <h5 class="modal-title text-white" id="staticBackdropLabel">Exclusão de despesas</h5>
            <button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close"><span
                class="fas fa-times fs--1 text-white"></span></button>
          </div>
          <div class="modal-body">
            <p class="text-700 lh-lg mb-0">Deseja realmente deletar a despesa selecionada?
            </p>
            <p class="text-700 lh-lg mb-0">{{descriptionHandle}}-{{idHandle}}
            </p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteModel()"
              type="button">Deletar</button>
            <button class="btn btn-outline-primary" type="button" (click)="clear()" data-bs-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  
  </div>